.main {
  text-align: center;
  font-size: 10px;
}

mat-form-field {
  width: 100%;
  font-size: 14px;
}

.close {
  float: right;
  margin-top: -10px;
  margin-right: -5px;
  cursor: pointer;
}

#txn {
  word-break: break-all;
  font-size: 10px;
}
