#footer {
  background-color: #3056d3;
  text-align: center;
  padding: 15px;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.text-muted {
  color: #fff !important;
  font-size: 14px;
  font-weight: bold;
}

p {
  margin-bottom: 0px;
}