<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="assets/images/rayo_logo_web.png" height="40"></a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 tog">
      <li class="nav-item">
        <small style="position: relative; top: -2px;">Testnet</small>
        <mat-slide-toggle (change)="toggle($event)" class="example-margin" [checked]="mainnetNetwork"
          [disabled]="disableNetwork">
          <small>Mainnet</small>
        </mat-slide-toggle>
        <!-- <section class="example-section">
        <label class="example-margin">Align:</label>
        <mat-radio-group [(ngModel)]="labelPosition">
          <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
          <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
        </mat-radio-group>
      </section> -->
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex">
        <div class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isAuth">
              <a class="nav-link" (click)="disconnect()" style="cursor: pointer; font-size: 14px;">Disconnect</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>

<nav mat-tab-nav-bar *ngIf="isAuth">
  <div *ngFor="let link of leftLinks; let i=index">
    <a mat-tab-link [routerLink]="link.link" (click)="activeLink = link" [active]="activeLink == link">{{link.tab}}
    </a>
  </div>
</nav>
